@import "../../styles/default";

.pagination {
  .pagination-header, .pagination-footer {
    display: flex;
    justify-content: space-between;
  }

  .pagination-button {
    background: $primary;
    color: $background;
    font-size: 1.5em;
    border: 1px solid $primary;
    border-radius: $border-radius;
    margin-right: 0.25em;
    width: 25px;
    height: 25px;

    &:hover, &:focus {
      color: $primary;
      background: $background;
    }
    
    &:active {
      color: darken($primary, 30%);
      border-color: darken($primary, 30%);
      background: darken($background, 30%);
    }

    &.disabled {
      color: darken($background, 20%);
      background: lighten($secondary, 10%);
      border-color: lighten($secondary, 10%);
    }
  }

  .pagination-page-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0.5em;
    font-weight: 700;
  }
}