@import "../../styles/default";

$toggle-border-radius: 4px;

.platform-toggle-button {
  .toggle-button {
    color: darken($background, 25%);
    background: $secondary;
    border: none;
    padding: 0.75em;
    margin: 0;


    &.ios {
      border-top-left-radius: $toggle-border-radius;
      border-bottom-left-radius: $toggle-border-radius;
    }

    &.android {
      border-top-right-radius: $toggle-border-radius;
      border-bottom-right-radius: $toggle-border-radius;
    }

    &.active {
      color: $background;
      background: $primary;
      transition: transform 1s;
    }
  }
}