.about-me {
  display: flex;
  flex-direction: column;
}

.about-me-bio{
  margin: 1em 2em;
  text-align: center;
}

@media (min-width: 600px) {
  .about-me {
    flex-direction: row;
    align-items: center;
  }

  .about-me-bio {
    text-align: left;
  }
}