@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Lora&family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, p {
  margin-top: 0;
}

#root { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}